@font-face
{
	font-family: "HWT Artz";
	src: url("rsrc/HWT-Artz.otf");
}
@font-face
{
	font-family: "HWT Geometric";
	src: url("rsrc/HWT-Geometric-Light.otf");
}
@font-face
{
	font-family: "HWT Republic Gothic";
	src: url("rsrc/HWT-Republic-Gothic.otf");
}
@font-face
{
	font-family: "HWT Konop";
	src: url("rsrc/HWT-Konop-6-line.otf");
}

body
{
	background-color: white;
	color: black;

	font-family: "HWT Republic Gothic";
	font-size: 12pt;

	text-align: left;
	margin: 2in;
}

h1,h2,h3,h4
{
	font-family: "HWT Artz";
}

h1
{
	font-size: 36pt;
	font-weight: bold;
}

h2
{
	font-size: 24pt;
	font-weight: bold;
}

h3
{
	font-size: 18pt;
	font-weight: bold;
}

h4
{
	font-size: 14pt;
	font-weight: bold;
}

a
{
	font-weight: bold;
}

.nav
{
	font-family: "HWT Artz";
	font-size: 18pt;

	color: black;
	text-decoration: none;
	
	padding: 5px;
}
