@font-face
{
	font-family: "HWT Artz";
	src: url("rsrc/HWT-Artz.otf");
}
@font-face
{
	font-family: "HWT Geometric";
	src: url("rsrc/HWT-Geometric-Regular.otf");
}
@font-face
{
	font-family: "HWT Republic Gothic";
	src: url("rsrc/HWT-Republic-Gothic.otf");
}
@font-face
{
	font-family: "HWT Konop";
	src: url("rsrc/HWT-Konop-6-line.otf");
}

body
{
	text-align: left;
	margin: 2in;

	background-color: white;
	color: black;

	font-family: "HWT Republic Gothic";
	font-size: 12pt;
}

h1,h2
{
	font-family: "HWT Geometric";
	background-color: #f8be15;
}

h3,h4
{
	font-family: "HWT Artz";
}

h1
{
	font-size: 40pt;
	font-weight: bold;
}

h2
{
	font-size: 30pt;
	font-weight: bold;
}

h3
{
	font-size: 18pt;
	font-weight: bold;
}

h4
{
	font-size: 14pt;
	font-weight: bold;
}

a
{
	font-weight: bold;
	text-decoration: none;
	color: white;
	background-color: black;
}
.nav
{
	font-family: "HWT Artz";
	font-size: 18pt;
	padding-left: 0.125in;
	padding-right: 0.125in;
	padding-top: 0.045in;
}

ul
{
	list-style-type: square;
}

li
{
	padding-bottom: 0.02in;
}

